In [1]:
# Import libraries
import pandas as pd

In [16]:
df_bicimad_original = pd.read_csv('../data/bicimad_stations.csv')
df_bicimad = df_bicimad_original [['name', 'address', 'geometry_coordinates']]
df_bicimad

,name,address,geometry_coordinates
0,Puerta del Sol A,Puerta del Sol nº 1,"[-3.7018341, 40.4172137]"
1,Puerta del Sol B,Puerta del Sol nº 1,"[-3.701602938060457, 40.41731271011562]"
2,Miguel Moya,Calle Miguel Moya nº 1,"[-3.7058415, 40.4205886]"
3,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,"[-3.7069171, 40.4302937]"
4,Malasaña,Calle Manuela Malasaña nº 5,"[-3.7025875, 40.4285524]"
...,...,...,...
259,Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,"[-3.72699, 40.44375]"
260,Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,"[-3.72693, 40.44342]"
261,Facultad Biología,Calle José Antonio Novais frente al nº 12,"[-3.7272945, 40.4483322]"
262,Facultad Derecho,Avenida Complutense nº 23,"[-3.72937, 40.45109]"
263,Zurbano,Calle Zurbano nº 90,"[-3.69281, 40.43837]"

In [67]:
def lat (x):
    b= x.split(',')
    c= b[0].replace('[','')
    d= float(c)
    return d
    
def long (x):
    b= x.split(',')
    c= b[1].replace(']','')
    d= float(c)
    return d

In [68]:
lat ("[-3.7018341, 40.4172137]")

-3.7018341

In [69]:
df_bicimad['Latitude'] = df_bicimad.apply(lambda x: lat(x['geometry_coordinates']),axis=1)
df_bicimad['Longitude'] = df_bicimad.apply(lambda x: long(x['geometry_coordinates']),axis=1)

/Users/Izaskun/miniconda3/envs/bicimad/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/Izaskun/miniconda3/envs/bicimad/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [70]:
df_bicimad

,name,address,geometry_coordinates,Latitude,Longitude
0,Puerta del Sol A,Puerta del Sol nº 1,"[-3.7018341, 40.4172137]",-3.701834,40.417214
1,Puerta del Sol B,Puerta del Sol nº 1,"[-3.701602938060457, 40.41731271011562]",-3.701603,40.417313
2,Miguel Moya,Calle Miguel Moya nº 1,"[-3.7058415, 40.4205886]",-3.705842,40.420589
3,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,"[-3.7069171, 40.4302937]",-3.706917,40.430294
4,Malasaña,Calle Manuela Malasaña nº 5,"[-3.7025875, 40.4285524]",-3.702587,40.428552
...,...,...,...,...,...
259,Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,"[-3.72699, 40.44375]",-3.726990,40.443750
260,Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,"[-3.72693, 40.44342]",-3.726930,40.443420
261,Facultad Biología,Calle José Antonio Novais frente al nº 12,"[-3.7272945, 40.4483322]",-3.727295,40.448332
262,Facultad Derecho,Avenida Complutense nº 23,"[-3.72937, 40.45109]",-3.729370,40.451090
263,Zurbano,Calle Zurbano nº 90,"[-3.69281, 40.43837]",-3.692810,40.438370

In [72]:
df_bicimad['Latitude'].dtypes

dtype('float64')